// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://weloveiconfonts.com/api/?family=entypo);

$boxcolor: #000;

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000;
	font-family: sans-serif;
	text-decoration: none;
	box-sizing: content-box;
}
html,body{
	overflow-x:hidden;
}
	input, .exit{
		width: calc(100% - 30px);
		margin: 5px 10px;
		padding: 5px;
		font-size: 20px;
		border: 1px solid #eee;
	}

.addTopic, .search{
	background: rgba(255,255,255,0.9);	
	position: fixed;
	width: 100%;
	display: none;
	input{
		margin: 10px;	
		background: transparent;
		border:0;
		color: $boxcolor;
		&:focus{
			background:#fff;
		}
	}
	::-webkit-input-placeholder { color:$boxcolor; }
	::-moz-placeholder { color:$boxcolor; } /* firefox 19+ */
	:-ms-input-placeholder { color:$boxcolor; } /* ie */
	input:-moz-placeholder { color:$boxcolor; }
}	
.search{
	display: none;
	input{
			border-radius: 50px;
			padding-left: 10px;
		}
}

ul.topics{
	li{
		color: #fff;
		font-size: 20px;
		width: 100%;
		padding: 15px;	
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: moz-none;
		-ms-user-select: none;
		user-select: none;	
		&:nth-child(1n){
			background:#E8B50C;
		}
		&:nth-child(2n){
			background:#1485CC;
		}
		&:nth-child(3n){
			background:#0DFF39;
		}
		&:nth-child(4n){
			background:#B21212;
		}
		&:nth-child(5n){
			background:#3FFF89;
		}
		&.new{
			-webkit-transform: translateX(-300px);
			-webkit-animation: openSpace 0.2s ease forwards, moveIn 0.3s 0.2s ease forwards
		}
	}
}

.editor{
	width:calc(100% - 20px);	 	
	background: #fff;
	border: 1px solid #eee;
	margin: 10px;
	display: none;
	position: absolute;
	top:0;

	.save{
		background: lighten(green,10%);
			
		border-color: green;
		margin-right: 5px;

	}

	.exit{
		background: lighten(red,10%);	
		border-color: red;	
		margin-left: 5px;
	}

	.save, .exit{
		text-align: center;
		width: calc(50% - 27px);
		float: left;
		cursor: pointer;
	}
}

nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	ul{
		li{
			display: block;
    		height: 30px;
    		width: 30px;
    		line-height: 30px;
			-moz-border-radius: 30px;
    		border-radius: 30px;
    		border:#fff solid 2px;
			background-color: #0971B2;
    		color: #fff;
    		margin: 5px;
    		text-align: center;
    		font-size: 1em;
    		&:first-child{
				float:left;
			}
			&:last-child{
				float:right;
			}
		}
	}
}